.center {
  text-align: center;
}

.centeredtable {
  margin-left: auto;
  margin-right: auto;
}

table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  padding: 6px;
}

table.GeneratedTable thead {
  background-color: #ffcc00;
}

.column {
 width: 10vw; 
}

.draggables {
  background-color: #ffffff;
  width: 50px;
  border: 15px solid green;
  padding: 5px;
  margin: 20px;
}
